In [19]:
import yfinance as yf
import numpy as np
import pandas as pd

In [20]:
# Download historical data for a stock
ticker = "AAPL"  # Example: Apple Inc.
start_date = "2023-12-01"
end_date = "2024-03-31"
data = yf.download(ticker, start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [21]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-12-01,190.330002,191.559998,189.229996,191.240005,190.996292,45679300
2023-12-04,189.979996,190.050003,187.449997,189.429993,189.188583,43389500
2023-12-05,190.210007,194.399994,190.179993,193.419998,193.173508,66628400
2023-12-06,194.449997,194.759995,192.110001,192.320007,192.074921,41089700
2023-12-07,193.630005,195.000000,193.589996,194.270004,194.022430,47477700
...,...,...,...,...,...,...
2024-02-26,182.240005,182.759995,180.649994,181.160004,181.160004,40867400
2024-02-27,181.100006,183.919998,179.559998,182.630005,182.630005,54318900
2024-02-28,182.509995,183.119995,180.130005,181.419998,181.419998,48953900
2024-02-29,181.270004,182.570007,179.529999,180.750000,180.750000,136682600
2024-03-01,179.550003,180.529999,177.380005,179.660004,179.660004,73488000

In [22]:
# Calculate simple moving averages (SMA)
data['SMA_20'] = data['Close'].rolling(window=20).mean()
data['SMA_50'] = data['Close'].rolling(window=50).mean()

In [23]:
# Calculate relative strength index (RSI)
delta = data['Close'].diff()
gain = (delta.where(delta > 0, 0)).rolling(window=14).mean()
loss = (-delta.where(delta < 0, 0)).rolling(window=14).mean()
rs = gain / loss
data['RSI'] = 100 - (100 / (1 + rs))

In [24]:
# Calculate moving average convergence divergence (MACD)
short_window = 12
long_window = 26
data['EMA_12'] = data['Close'].ewm(span=short_window, adjust=False).mean()
data['EMA_26'] = data['Close'].ewm(span=long_window, adjust=False).mean()
data['MACD'] = data['EMA_12'] - data['EMA_26']

In [25]:
data.dropna(inplace=True)

In [26]:
data

,Open,High,Low,Close,Adj Close,Volume,SMA_20,SMA_50,RSI,EMA_12,EMA_26,MACD
Date,,,,,,,,,,,,
2024-02-13,185.770004,186.210007,183.509995,185.039993,185.039993,56529500,189.282999,190.336800,29.033685,187.954731,188.692507,-0.737775
2024-02-14,185.320007,185.529999,182.440002,184.149994,184.149994,54630500,189.356499,190.195000,28.330450,187.369387,188.356024,-0.986637
2024-02-15,183.550003,184.490005,181.350006,183.860001,183.860001,65434500,189.117999,190.083600,30.240083,186.829481,188.022985,-1.193504
2024-02-16,183.419998,184.850006,181.669998,182.309998,182.309998,49701400,188.655499,189.861400,29.085266,186.134176,187.599801,-1.465625
2024-02-20,181.789993,182.429993,180.000000,181.559998,181.559998,53665600,188.038998,189.646200,33.452515,185.430456,187.152408,-1.721952
2024-02-21,181.940002,182.889999,180.660004,182.320007,182.320007,41529700,187.395999,189.407200,43.772500,184.951926,186.794453,-1.842527
2024-02-22,183.479996,184.960007,182.460007,184.369995,184.369995,52292200,186.889499,189.180399,42.357254,184.862398,186.614863,-1.752465
2024-02-23,185.009995,185.039993,182.229996,182.520004,182.520004,45119700,186.306999,188.967200,40.280199,184.502030,186.311540,-1.809511
2024-02-26,182.240005,182.759995,180.649994,181.160004,181.160004,40867400,185.743999,188.696200,30.432210,183.987872,185.929945,-1.942073
2024-02-27,181.100006,183.919998,179.559998,182.630005,182.630005,54318900,185.289000,188.389600,29.800120,183.778969,185.685505,-1.906536
2024-02-28,182.509995,183.119995,180.130005,181.419998,181.419998,48953900,184.958000,188.055800,27.314011,183.416051,185.369542,-1.953491
2024-02-29,181.270004,182.570007,179.529999,180.750000,180.750000,136682600,184.775500,187.719399,27.981366,183.005889,185.027353,-2.021464
2024-03-01,179.550003,180.529999,177.380005,179.660004,179.660004,73488000,184.415501,187.394799,24.112669,182.491137,184.629772,-2.138634

In [27]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume,SMA_20,SMA_50,RSI,EMA_12,EMA_26,MACD
Date,,,,,,,,,,,,
2024-02-26,182.240005,182.759995,180.649994,181.160004,181.160004,40867400,185.743999,188.696200,30.432210,183.987872,185.929945,-1.942073
2024-02-27,181.100006,183.919998,179.559998,182.630005,182.630005,54318900,185.289000,188.389600,29.800120,183.778969,185.685505,-1.906536
2024-02-28,182.509995,183.119995,180.130005,181.419998,181.419998,48953900,184.958000,188.055800,27.314011,183.416051,185.369542,-1.953491
2024-02-29,181.270004,182.570007,179.529999,180.750000,180.750000,136682600,184.775500,187.719399,27.981366,183.005889,185.027353,-2.021464
2024-03-01,179.550003,180.529999,177.380005,179.660004,179.660004,73488000,184.415501,187.394799,24.112669,182.491137,184.629772,-2.138634